* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}
:root {
  --bgMain: #be123c;
  --mainFont: "DM Sans", sans-serif;
}
body {
  font-family: var(--mainFont);
  padding: 0 98px;
}
a {
  text-decoration: none;
  /* color: white; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}
.logo, .menu, .navs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}